
.banner {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: flex-start; /* Align content to the left */
  height: 140px;
  background-color: #6bcc9d;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 5px solid #85b69d;
}

.banner-logo {
  height: 180px; /* Adjust the size of the image */
  margin-right: 20px; /* Add some space between the image and the text */
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Hammersmith One', sans-serif;
  
}

.banner .subtext {
  margin-top: 10px;
  font-size: 1.3rem;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  color: #f1f1f1; /* Slightly lighter color for subtext */
}
.profile-image {
  width: 140px; /* Size of the image */
  height: 140px; /* Size of the image */
  border-radius: 49%; /* Makes the image circular */
  border: 3px solid rgb(213, 204, 204); /* Border around the image */
  object-fit: cover; /* Ensures the image is scaled properly */
  margin-left: 55px; /* Space between text and the image */
}