/* src/Form.css */
.form-and-charts-container {
  display: flex; /* Flexbox for horizontal layout */
  align-items: flex-start; /* Align items at the top */
  justify-content: space-between; /* Add space between form and charts */
  padding: 20px;
}

.form-container {
    position: absolute;
    top: 200px; /* Adjust based on the height of your banner */
    left: 20px;
    width: 200px;
  }
  .form-wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  .form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bold;
    font-size: 1 rem;
    color: #333;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Hammersmith One', sans-serif;
    width: 91%; /* Make input box full width under label */
  }
  
  .submit-button {
    width: 100%; /* Full width button */
    padding: 10px;
    background-color: #5fc062;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #51b685; /* Darker green on hover */
  }
  .vertical-line {
    position: absolute; /* Absolute positioning for manual placement */
  top: -50px; /* Start at the top of the container */
  left: 210px; /* Manually set the distance from the left (adjust as needed) */
  height: 120vh; /* Full viewport height */
  width: 5px; /* Thickness of the line */
  background-color: #85b69d; /* Line color */
  }
  
  .charts-container {
    position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for perfect centering */
  left: 350px;
  }
  
  /* Optional: Add some margins between the charts */
  .charts-container > * {
    margin-bottom: 20px;
  }